@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

#about_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #121212;
    color: white;
    height: 86vh;
    font-family: Inter;
    font-size: x-large;
}

#short_desc {
    width: 50%;
    text-align: justify;
}
#github {
    display: flex;
    justify-content: center;
    align-items: center;

}
#github_logo {
    margin-top: 4vh;
    width: 150px;
}