footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2D3748;
    color: white;
    height: 7vh;
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
}