#no_page_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #121212;
    height: 86vh;
    color: white;
}