@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

nav {
    display: flex;
    flex-direction: row;
    background-color: #2D3748;
    color: #F7FBFC;
    height: 7vh;
}

.customBtn-nav {
    border-radius: 0;
    border: none;
    background-color: #2D3748;
    color: #F7FBFC;
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    width: 100px;
    height: 7vh;
    transition: 500ms linear;
    font-size: large;
}

.nav_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    width: 60%;
    font-family: "Inter", sans-serif;
    font-size: larger;
}

.customBtn-nav:hover{
    background-color: rgba(56, 65, 84, 0.52);
    transition: 200ms linear;
}

.title {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 10px 10px 10px 10px;
    width: 20%;
    font-family: "Inter", sans-serif;
    font-size: x-large;
}

.translate_section {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
}

.country_flag {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 40px;
    height: 35px;
    transition: 500ms ease;
}

.country_flag:hover{
    width: 50px;
    height: 45px;
    transition: 400ms ease;
}